span.Token#Athlete
{
	background-color: red;
	color: white;

	border: 2px solid black;
}

.CADAnd3DPrinting_Tile
{
	background: Red;
}

/* DOESN'T WORK 
.CADAnd3DPrinting_Tile:hover
{
	background-color: linear-gradient(to right, white, red);
}
*/

.Development_Tile
{
	background: rgb(0, 119, 255);
}

.AI_Tile
{
	background: rgb(0, 255, 0);
}

.Robotics_Tile
{
	background: rgb(255, 166, 0);
}

.CyberSecurity_Tile
{
	background: rgb(255, 44, 255);
}

.YellowBorder
{
	border: 2px solid green;
}

.SystemAdmin_Tile
{
	background: yellow;
}

.Networking_Tile
{
	background: #ffd2d9;
}

.DataScience_Tile
{
	background: #00e5ff;
}

a.BlueLink
{
	color: blue;
	text-decoration: underline;
}

span.Red
{
	color: Red;
}

span.Green
{
	color: Green;
}

span.Blue
{
	color: Blue;
}