/* Title */
div.LogoDisplay
{
	display: flex;
	justify-content: space-between;
}

img.ContentLogo
{
	width: 5rem;
	height: 5rem;
}

span.Title
{
	display: flex;
	justify-content: center;

	color: black;
	font-size: 2rem;

	text-decoration: underline;
}

/* Member Search */

div.ClubMembers
{
	display: flex;
	flex-direction: column;
	justify-content: center;

	border: 3px solid black;
	border-radius: 15px;
	padding: 1rem;
}

div.MemberSearch
{
	display: flex;
	flex-direction: column;
}

input.MemberSearch
{
	width: 30rem;

	margin-left: 1rem;
	margin-right: 1rem;

	border-radius: 15px;
	border: 3px solid black;
}

select.MemberSearch
{
	width: 10rem;

	margin-right: 1rem;

	border-radius: 15px;
	border: 3px solid black;
}

button.MemberSearch
{
	margin-left: 1rem;

	border-radius: 15px;
	border: 3px solid black;
	background-color: red;
	color: white;
}

.MemberSearch
{
	padding: .25rem;
}

div.ResultDisplay
{
	display: flex;
	flex-direction: row;

	padding-left: 1rem;
	padding-right: 1rem;
}

a.MemberButton:hover
{
	color: white;
	text-decoration: none;
}

div.ResultContainer
{
	border: 2px solid black;
	border-radius: 15px;
	background-color: red;

	padding: 1rem;
	
	width: 12rem;
	height: 12rem;
}

div.ResultSpacer
{
	height: 12rem;
	width: 2rem;

}

span#MemberSearchUsername
{
	font-size: 1.75rem;
	margin-bottom: 1rem;
}

span#MemberSearchName
{
	font-size: 1.25rem;
	color: white;

	margin-top: .5rem;
}

span.HighlightUsername
{
	font-size: 2rem;
}

div.ProfileHighlight
{
	display: flex;
	flex-direction: column;
}

div.ProfileTokenWrapper
{
	width: 10vw;

	padding: .5rem;
}

img.HighlightPFP
{
	border: 2px solid black;
	border-radius: 50%;

	width: 7.5rem;
	height: 7.5rem;
}

div.ProfileInformation
{
	display: block;
	justify-content: left;
	border: 3px solid black;
	
	padding: 1rem;
}

div.Tokens
{
	margin-top: 1rem;
}

span.Token
{
	border: 2px solid black;
	border-radius: 15px;
	padding: .3rem;
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: blue
	
}

/* Newsletter */
img.NewsletterHeader
{
	width: 60%;
	margin: auto;

	border: 3px solid black;
}

div.SelectionContent h2.Newsletter
{
	text-decoration: underline;
	text-align: center;
}

div.SelectionContent p
{
	font-size: 1rem;
}

div.SelectionContent p.Large
{
	font-size: 1.5rem;
	text-align: center;
}

a.BodyLink
{
	color: blue;
	font-size: 1rem;
}

/* Calendar */
div.Calendar
{
	width: 100%;

	color: white;
	text-align: center;
	border-radius: 25px;
	background-color: rgb(200,0,0);
	
	padding-left: 1rem;
	padding-right: 1rem;
}

div.CalendarControls
{
	color: white;
	
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;

	width: 50%;
}

span.MonthYearDisplay
{
	display: flex;
	justify-content: center;

	font-size: 1.75rem;
	text-decoration: underline;
}

div.DividerButton
{
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 3rem;
}

a.MonthMove
{
	border: 2px solid black;

	
	background-color: white;

	display: flex;
	flex-direction: column;
	justify-content: center;

	border-radius: 50%;
}

a.MonthMove img
{
	height: 2rem;
	width: 2rem;

	margin: 1rem;
}

table.CalendarFrame
{
	width: 100%;
}

th.DayLabel
{
	margin: 0;

	border: 3px solid black;
	background-color: grey;
	color: white;
}

td
{
	border: 3px solid black;

	width: 5rem;
}

td.White
{
	background-color: white;

	text-align: center;
}

td.Grey
{
	background-color: grey;
}

td#Selected
{
	background-color: rgb(229, 255, 0);
}

a.CalendarButton
{
	display: block;

	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;

	color: black;
}

a.CalendarButton:hover
{
	text-decoration: none;

	background-color: rgb(229, 255, 0);
}

div.CalendarDate
{
	display: flex;
	flex-direction: column;

	padding: 0;
	margin: 0;
}

div.UpperHalf
{
	/*background-color: white;*/

	border: 2px solid black;
	padding: 0;
	margin: 0;

	font-size: 1.5rem;
	padding: .25rem;
}

span.DayOfMonth#Today
{
	color: red;
}

div.LowerHalf
{
	border: 2px solid black;
	margin-top: .25rem;

	height: 6rem;

	display: flex;
	flex-direction: column;
}

div.CalendarDisplaySpace
{
	border: 2px solid black;
	background-color: white;
	
	color: black;

	display: flex;
	flex-direction: column;
}



div.Events
{
	display: flex;
	justify-content: center;
}

div.EventFrame
{
	width: 50%;
	padding: 1rem;
	margin: 1rem;

	display: flex;
	flex-direction: column;
	text-align: left;
	border: 2px solid black;
}

div.EventFrame span
{
	text-align: left;
}

span.EventName
{
	font-size: 1.25rem;
	text-decoration: underline;
}

/*
.EventHeader
{
	
}
*/

div.CalendarDisplaySpace#CreateEvent
{
	flex-direction: column;
}

span.DisplayHeader
{
	font-size: 1.5rem;
	text-decoration: underline;

	margin-top: 1rem;
	margin-bottom: 1rem;
}

form.CreateEventForm
{
	width: 50%;
}

div.FormCenter
{
	display: flex;
	flex-direction: column;
}

span.AlignLeft
{
	text-align: left;
}

div.InputList span.AlignLeft
{
	margin-bottom: 1rem;
}

div.FormCenter span.AlignLeft
{
	margin-bottom: 1rem;
}

div.FormCenter input[type="text"]
{
	width: 100%;
}

div.InputList input[type="text"]
{
	width: 75%;
}

span.AlignLeft input[type="checkbox"]
{
	width: 1rem;
}

div.InputList
{
	display: flex;
	flex-direction: column;
}

form.CreateEventForm input
{
	width: 100%;
}

input, textarea
{
	border: 2px solid black;
}

select
{
	width: 100%;
}

form.CreateEventForm textarea
{
	width: 100%;
	height: 5rem;
	resize: none;
}

/* Profile Edit */
div.EditProfileForm
{
	display: flex;
	flex-direction: column;

	width: 50%;
	border: 2px solid black;
	padding: 2rem;
}

img.DisplayPFP
{
	width: 7.5rem;
	height: 7.5rem;

	border: 2px solid black;
}

div.EditProfileForm form
{
	display: flex;
	flex-direction: column; 
}

div.SubtitleOrg
{
	display: flex;
	justify-content: space-between;
}

span.FormSubtitle
{
	font-size: 1.5rem;
	text-decoration: underline;
}

div.Column
{
	display: flex;
	flex-direction: column;
}

/*
div#PIEdit
{
	display: none;
}
*/

span.DisplayBox
{
	border: 2px solid black;
	min-height: 1.1rem;
	background-color: grey;
	color: white;
}

div#AI
{
	display: none;
}

input, select
{
	border: 2px solid black;
}

input.FileInput
{
	display: none;
}

input.FileButton
{
	width: 50%;
}

/* Learn CS */
div.SelectionTileWrapper
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;


	height: 55vh;
	width: 100%;
}

a.CSTile
{
	border: 3px solid black;
	border-radius: 15px;
	
	padding: 1rem;

	font-size: 1.5rem;
	font-weight: bold;	
	color: black;
	text-decoration: none;
	
	display: flex;
	justify-content: space-around;
}

div.TopicDiv
{
	padding: 1rem;
}

span.TopicTitle
{
	font-size: 1.25rem;
	font-weight: bold;
}

div.Video
{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

span.VideoTitle
{
	font-size: 1.5rem;
}

/*Software Development*/
span.DevTitle
{
	font-size: 1.25rem;
	text-decoration: underline;
}

div.TileWrapper
{
	margin-top: 1rem;
	margin-bottom: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

	border: 3px solid black;
	border-radius: 25px;
	background-color: red;
}

.TopicTile
{
	min-width: 25vw;
	

	margin: 1rem;

	display: flex;
	flex-direction: column;

	padding: 1rem;
	
	border: 3px solid black;
	border-radius: 25px;
	background-color: white;

	color: black;
	font-size: 1.5rem;
}



a.TopicTile:hover
{
	text-decoration: none;
}

div.TileBody
{
	border-top: 3px solid black;
	padding-top: 1rem;

	display: flex;
	flex-direction: column;
}

.Underline
{
	text-decoration: underline;
}
a.StackTile span
{
	font-size: 1rem;
}

a.StackTile li
{
	text-align: center;
}

/* Other */
img.UnderConstructionL
{
	width: 40%;
}

img.UnderConstructionS
{
	width: 20%;
}