body
{
	display: flex;
	flex-direction: column;
	
	font-size: 1.1rem;
}

/* Frames */

div.Top
{
	display: flex;
	flex-direction: row;

	max-width: 100vw;
	min-height: calc(90vh - 5px);
	
	border-bottom: 5px solid black;
}

div.Bottom
{
	max-width: 100vw;
	height: 10vh;

	display: flex;
	align-items: center;
	justify-content: center;/*space-between;*/

	background-color: rgb(135,0,0);
}

/* Top Content */

/* Menu */

div.Menu
{
	width: 20vw;

	background-color: rgb(200,0,0);
	
	color: white;

	display: flex;
	flex-direction: column;
}

div.MenuContent
{
	display: flex;
	flex-direction: column;

	margin: 1rem;
}

div.UserInfo
{
	display: flex;
	flex-direction: column;

	align-items: center;
}

div.PicDivider
{
	width: 100%;

	display: flex;
	justify-content: center;
}

div.PicDivider span.Q
{
	min-width: 25%;
}

div.PicDivider span.H
{
	min-width: 50%;
}

img.PFP
{
	width: 7.5rem;
	height: 7.5rem;

	border: 3px solid white;
	border-radius: 50%;
}

img.Notifications
{
	width: 2rem;
	height: 2rem;

	background-color: none;
	border-radius: 50%;
}

button.Notifications
{
	align-items: center;
	background-color: rgb(200,0,0);
	border: 0;
}

span.Major
{
	font-size: .75rem;

	text-align: center;
}

hr
{
	margin-top: 0rem;
	width: 100%;
	background-color: white;
}

div.MenuSection
{
	display: flex;
	flex-direction: column;

	background-color: rgb(135,0,0);
	color: black;
	border-radius: 5px;

	
	padding: .75rem;
}

span.MenuLabel
{
	margin-bottom: .3rem;

	display: flex;
	justify-content: space-between;

	color: white;
}

button.SectionMover
{
	align-items: center;
	background-color: rgb(135,0,0);
	border: 0;
}

img.Dropdown:hover
{
	background-color: black;
}

img.Dropdown
{
	display: flex;

	border-radius: 50%;

	align-items: center;
	width: 1.5rem;

	transform: rotate(0deg);
}

div.MenuSectionContent
{
	display: none;
	flex-direction: column;
}

a
{
	color: white;
	line-height: 1.5rem;
	font-size: 1.25rem;
	text-decoration: none;	
}

a:hover
{
	color: blue;
	text-decoration: underline;
}

/* SelectionContent */

div.SelectionContent
{
	width: calc(80vw - 5px);
	
	color: black;

	/*background-color: rgb(135,0,0);*/
	border-left: 5px solid black;

	padding: 2rem;
}

/* Bottom Content */

img.Logo
{
	width: 3rem;
	height: 3rem;

	margin-left: 1rem;
	margin-right: 1rem;

	border: 3px solid white;
	border-radius: 15px;
}

div.Bottom p
{
	width: 50%;
	color: white;
	text-align: center;
}