body
{
	display: flex;
	flex-direction: column;
	
	font-size: 1.1rem;
}

div
{
	box-sizing: border-box;
}

div.OutterWrapper
{
	display: flex;
	flex-direction: column;

	max-width: 100vw;
	min-height: calc(90vh - 5px);
}

div.InnerWrapper
{
	display: flex;
	flex-direction: row;
}

/* Navigation Bar */
div.NavBar
{
	display: flex;
	justify-content: left;

	padding: 1rem;

	min-height: 10vh;

	background-color: rgb(200,0,0);
	border-bottom: 5px solid black;
}

div.ActionBar
{
	width: 100vw;

	align-items: center;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

button.ActionButton
{
	width: 4vw;
	height: 4vw;

	border: 0;
	background-color: rgb(200,0,0);
}

div.ActionBarTab
{
	display: flex;
	flex-direction: row;

	margin-right: 1rem;
}

button.Notifications
{
	height: 50%;
	width: 2vw;

	margin-left: -.5rem;

	display: flex;
	flex-direction: row;

	background-color: transparent;
	color: white;

	border: none;
}

span.NotifCount
{
	font-size: 1rem;
}

img.Notifications
{
	width: 2.25vw;
	height: 2.25vw;
}

img.PFPS
{
	width: 4vw;
	height: 4vw;

	border: 3px solid black;
	border-radius: 50%;
}

img.MenuToggle
{
	width: 3vw;
	height: 3vw;
}

/* Menu */

div.Menu
{
	width: 20vw;
	
	background-color: rgb(200,0,0);
	
	color: white;
	border-right: 5px solid black;

	display: none;
	flex-direction: column;
}

div.MenuContent
{
	display: flex;
	flex-direction: column;
}

div.UserInfo
{
	display: flex;
	flex-direction: column;

	align-items: center;
	
	margin-top: 1rem;
	margin-bottom: 1rem;
}

img.PFPL
{
	width: 7.5rem;
	height: 7.5rem;

	border: 3px solid black;
	border-radius: 50%;
}

span.Major
{
	font-size: .75rem;

	text-align: center;
}

hr
{
	margin-top: 0rem;
	width: 100%;
	background-color: white;
}

div.MenuSections
{
	margin: 1rem;
	margin-top: 0;
}

div.MenuSection
{
	display: flex;
	flex-direction: column;

	background-color: rgb(135,0,0);
	color: black;
	border-radius: 5px;

	padding: .75rem;
}

span.MenuLabel
{
	margin-bottom: .3rem;

	display: flex;
	justify-content: space-between;

	color: white;
}

button.SectionMover
{
	align-items: center;
	background-color: rgb(135,0,0);
	border: 0;
}

img.Dropdown:hover
{
	background-color: black;
}

img.Dropdown
{
	display: flex;

	border-radius: 50%;

	align-items: center;
	width: 1.5rem;

	transform: rotate(0deg);
}

div.MenuSectionContent
{
	display: none;
	flex-direction: column;
}

a
{
	color: white;
	line-height: 1.5rem;
	font-size: 1.25rem;
	text-decoration: none;	
}

a:hover
{
	color: blue;
	text-decoration: underline;
}

/* SelectionContent */

div.SelectionContent
{
	width: 100vw;
	
	color: black;

	/*background-color: rgb(135,0,0);*/

	padding: 2rem;
}

/* Bottom Content 

img.Logo
{
	width: 3rem;
	height: 3rem;

	margin-left: 1rem;
	margin-right: 1rem;

	border: 3px solid white;
	border-radius: 15px;
}

div.Bottom p
{
	width: 50%;
	color: white;
	text-align: center;
}

div.Bottom
{
	max-width: 100vw;
	height: 10vh;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: rgb(135,0,0);
}

*/