body
{
	display: flex;
	flex-direction: column;
	
	font-size: 1.1rem;
}

div
{
	box-sizing: border-box;
}

div.OutterWrapper
{
	display: flex;
	flex-direction: row;

	max-width: 100vw;
	min-height: 10vh;
}

div.Right
{
	display: flex;
	flex-direction: column;

	width: 100vw;
	min-height: 100vh;
}

/* Navigation Bar */
div.Fixed
{
	display: fixed;
	top: 0;
}

div.NavBar
{
	display: flex;
	justify-content: left;

	padding: 1rem;
	min-height: 10vh;
	border-bottom: 5px solid black;

	background-color: rgb(200,0,0);
}

div.ActionBar
{
	width: 100vw;

	align-items: center;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

button.ActionButton
{
	width: 4vw;
	height: 4vw;

	border: 0;
	background-color: rgb(200,0,0);
}

div.ActionBarTab
{
	display: flex;
	flex-direction: row;

	margin-right: 1rem;
}

div.ProfileActionTab
{
	display: flex;
	flex-direction: column;
}

button.ProfileButton
{
	background-color: transparent;
	border: 0;
}

div.ProfileActionTab_Top
{
	display: flex;
	flex-direction: row;
}

div.ProfileActionTab_Bottom
{
	display: block;
}

div.ProfileMenu
{
	display: none;
	flex-direction: column;

	position: absolute;
	right: 10vw;

	max-width: 20vw;
	display: flex;

	padding: 1rem;
	padding-top: .5rem;

	background-color: white;
	border: 2px solid black;
	border-radius: 15px;
}

div.ProfileMenuTitle
{
	margin-bottom: .5rem;
}

div.ProfileMenuBottom
{
	display: flex;
	flex-direction: column;
}

div.ProfileMenu a
{
	color: black;
}

div.ProfileMenu a:hover
{
	text-decoration: underline;
}

div.ProfileMenu hr
{
	margin-top: .5rem;
	margin-bottom: .5rem;
}

div.NotificationDisplay
{
	border: 2px solid grey;
	

	height: 15vh;

	overflow-y: scroll;
}

.NotificationDisplay::-webkit-scrollbar {
  width: 20px;
}

.NotificationDisplay::-webkit-scrollbar-thumb {
  background-color: #FF0000;
  border-radius: 15px;
}

.NotificationDisplay::-webkit-scrollbar-track {
	
	background-color: white;
}

div.Notification
{
	display: flex;
	flex-direction: row;

	border-bottom: 2px solid grey;
	border-right: 2px solid grey;
}

div.NotificationIconWrapper
{
	width: 25%;
	display: flex;

	border-right: 1px solid grey;

	padding: .5rem;
}

img.NotificationIcon
{
	max-width: 100%;
	max-height: 100%;
}

div.NotificationContent
{
	padding: 1rem;

	width: 75%;
}

button.NotificationsButton
{
	height: 50%;
	width: 2vw;

	margin-left: -.5rem;

	display: flex;
	flex-direction: row;

	background-color: transparent;
	color: white;

	border: none;
}

span.NotifCount
{
	font-size: 1rem;
}

img.Notifications
{
	width: 4vh;
	height: 4vh;
}

img.PFPS
{
	width: 3rem;
	height: 3rem;

	border: 3px solid black;
	border-radius: 50%;
}

button.MenuToggle
{
	border-radius: 50%;

	background-color: rgb(200, 0, 0);
}

button.MenuToggle:hover
{
	background-color: rgb(150, 0, 0) !important;
	border: 2px solid black;
}

img.MenuToggle
{
	height: 2.25rem;
	width: 2.25rem;
}

/* Menu */

div.Menu
{
	width: 20vw;
	
	background-color: rgb(200,0,0);
	
	color: white;

	display: none;
	flex-direction: column;
}

div.MenuContent
{
	display: flex;
	flex-direction: column;
}

span.MenuTitle
{
	font-size: 2rem;
	color: white;

	padding: 1rem;
	height: 10vh;
	margin-top: 2rem;
}

div.UserInfo
{
	display: flex;
	flex-direction: column;

	align-items: center;
	
	margin-top: 1rem;
	margin-bottom: 1rem;
}

img.PFPL
{
	width: 15vh;
	height: 15vh;

	border: 3px solid black;
	border-radius: 50%;
}

span.Major
{
	font-size: .75rem;

	text-align: center;
}

hr
{
	margin-top: 0rem;
	width: 100%;
	background-color: white;
}

div.MenuSections
{
	margin: 1rem;
	margin-top: 0;
}

div.MenuSection
{
	display: flex;
	flex-direction: column;

	background-color: rgb(135,0,0);
	color: black;

	border-radius: 5px;

	padding: .75rem;
}

span.MenuLabel
{
	margin-bottom: .3rem;

	display: flex;
	justify-content: space-between;

	color: white;
}

button.HoverTextButton
{
	background-color: transparent;
	border: 0;
	color: white;
	font-size: 1rem;
}

button.HoverTextButton:hover
{
	cursor: pointer;
}

button.SectionMover
{
	align-items: center;
	background-color: rgb(135,0,0);
	border: 0;
}

img.Dropdown:hover
{
	background-color: black;
}

img.Dropdown
{
	display: flex;

	border-radius: 50%;

	align-items: center;
	width: 1.5rem;

	transform: rotate(0deg);
}

div.MenuSectionContent
{
	display: none;
	flex-direction: column;
}

a
{
	color: white;
	line-height: 1.5rem;
	font-size: 1.25rem;
	text-decoration: none;	
}

a:hover
{
	color: blue;
	text-decoration: underline;
}

/* SelectionContent */

div.SelectionContent
{
	color: black;

	/*background-color: rgb(135,0,0);*/

	padding: 2rem;
}

/* Bottom Content 

img.Logo
{
	width: 3rem;
	height: 3rem;

	margin-left: 1rem;
	margin-right: 1rem;

	border: 3px solid white;
	border-radius: 15px;
}

div.Bottom p
{
	width: 50%;
	color: white;
	text-align: center;
}

div.Bottom
{
	max-width: 100vw;
	height: 10vh;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: rgb(135,0,0);
}

*/